In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Read in data by chunks

In [2]:
train_main = fr"C:\Users\kyle.anderson\Downloads\home-credit-default-risk\application_train_cut.csv"
test_main = fr"C:\Users\kyle.anderson\Downloads\home-credit-default-risk\application_test.csv"

# Chunk size
chunk_size = 25000  # You can adjust this value as needed

# Initialize empty list to store chunks
chunks_t = []
chunks_e = []

# Read train data in chunks
for chunk in pd.read_csv(train_main, index_col=False, chunksize=chunk_size, low_memory=False):
    chunks_t.append(chunk)

# Read test data in chunks
for chunk in pd.read_csv(test_main, index_col=False, chunksize=chunk_size, low_memory=False):
    chunks_e.append(chunk)

# Concatenate chunks to create final DataFrame
df_t = pd.concat(chunks_t, ignore_index=True)
df_e = pd.concat(chunks_e, ignore_index=True)

## Reference Data Types

In [3]:
pd.set_option('display.max_rows', None)
data_types = df_t.dtypes
print(data_types)

SK_ID_CURR                      float64
TARGET                          float64
NAME_CONTRACT_TYPE               object
CODE_GENDER                      object
FLAG_OWN_CAR                     object
FLAG_OWN_REALTY                  object
CNT_CHILDREN                    float64
AMT_INCOME_TOTAL                float64
AMT_CREDIT                      float64
AMT_ANNUITY                     float64
AMT_GOODS_PRICE                 float64
NAME_TYPE_SUITE                  object
NAME_INCOME_TYPE                 object
NAME_EDUCATION_TYPE              object
NAME_FAMILY_STATUS               object
NAME_HOUSING_TYPE                object
REGION_POPULATION_RELATIVE      float64
DAYS_BIRTH                      float64
DAYS_EMPLOYED                   float64
DAYS_REGISTRATION               float64
DAYS_ID_PUBLISH                 float64
OWN_CAR_AGE                     float64
FLAG_MOBIL                      float64
FLAG_EMP_PHONE                  float64
FLAG_WORK_PHONE                 float64
FLAG_CONT_MOBILE                float64
FLAG_PHONE                      float64
FLAG_EMAIL                      float64
OCCUPATION_TYPE                  object
CNT_FAM_MEMBERS                 float64
REGION_RATING_CLIENT            float64
REGION_RATING_CLIENT_W_CITY     float64
WEEKDAY_APPR_PROCESS_START       object
HOUR_APPR_PROCESS_START         float64
REG_REGION_NOT_LIVE_REGION      float64
REG_REGION_NOT_WORK_REGION      float64
LIVE_REGION_NOT_WORK_REGION     float64
REG_CITY_NOT_LIVE_CITY          float64
REG_CITY_NOT_WORK_CITY          float64
LIVE_CITY_NOT_WORK_CITY         float64
ORGANIZATION_TYPE                object
EXT_SOURCE_1                    float64
EXT_SOURCE_2                    float64
EXT_SOURCE_3                    float64
APARTMENTS_AVG                  float64
BASEMENTAREA_AVG                float64
YEARS_BEGINEXPLUATATION_AVG     float64
YEARS_BUILD_AVG                 float64
COMMONAREA_AVG                  float64
ELEVATORS_AVG                   float64
ENTRANCES_AVG                   float64
FLOORSMAX_AVG                   float64
FLOORSMIN_AVG                   float64
LANDAREA_AVG                    float64
LIVINGAPARTMENTS_AVG            float64
LIVINGAREA_AVG                  float64
NONLIVINGAPARTMENTS_AVG         float64
NONLIVINGAREA_AVG               float64
APARTMENTS_MODE                 float64
BASEMENTAREA_MODE               float64
YEARS_BEGINEXPLUATATION_MODE    float64
YEARS_BUILD_MODE                float64
COMMONAREA_MODE                 float64
ELEVATORS_MODE                  float64
ENTRANCES_MODE                  float64
FLOORSMAX_MODE                  float64
FLOORSMIN_MODE                  float64
LANDAREA_MODE                   float64
LIVINGAPARTMENTS_MODE           float64
LIVINGAREA_MODE                 float64
NONLIVINGAPARTMENTS_MODE        float64
NONLIVINGAREA_MODE              float64
APARTMENTS_MEDI                 float64
BASEMENTAREA_MEDI               float64
YEARS_BEGINEXPLUATATION_MEDI    float64
YEARS_BUILD_MEDI                float64
COMMONAREA_MEDI                 float64
ELEVATORS_MEDI                  float64
ENTRANCES_MEDI                  float64
FLOORSMAX_MEDI                  float64
FLOORSMIN_MEDI                  float64
LANDAREA_MEDI                   float64
LIVINGAPARTMENTS_MEDI           float64
LIVINGAREA_MEDI                 float64
NONLIVINGAPARTMENTS_MEDI        float64
NONLIVINGAREA_MEDI              float64
FONDKAPREMONT_MODE               object
HOUSETYPE_MODE                   object
TOTALAREA_MODE                  float64
WALLSMATERIAL_MODE               object
EMERGENCYSTATE_MODE              object
OBS_30_CNT_SOCIAL_CIRCLE        float64
DEF_30_CNT_SOCIAL_CIRCLE        float64
OBS_60_CNT_SOCIAL_CIRCLE        float64
DEF_60_CNT_SOCIAL_CIRCLE        float64
DAYS_LAST_PHONE_CHANGE          float64
FLAG_DOCUMENT_2                 float64
FLAG_DOCUMENT_3                 float64
FLAG_DOCUMENT_4                 float64
FLAG_DOCUMENT_5                 float64
FLAG_DOCUMENT_6                 float64
FLAG_DOCUMENT_7                 float64
FLAG_DOCUMENT_8                 float64
FLAG_DOCUMENT_9                 float64
FLAG_DOCUMENT_10                float64
FLAG_DOCUMENT_11                float64
FLAG_DOCUMENT_12                float64
FLAG_DOCUMENT_13                float64
FLAG_DOCUMENT_14                float64
FLAG_DOCUMENT_15                float64
FLAG_DOCUMENT_16                float64
FLAG_DOCUMENT_17                float64
FLAG_DOCUMENT_18                float64
FLAG_DOCUMENT_19                float64
FLAG_DOCUMENT_20                float64
FLAG_DOCUMENT_21                float64
AMT_REQ_CREDIT_BUREAU_HOUR      float64
AMT_REQ_CREDIT_BUREAU_DAY       float64
AMT_REQ_CREDIT_BUREAU_WEEK      float64
AMT_REQ_CREDIT_BUREAU_MON       float64
AMT_REQ_CREDIT_BUREAU_QRT       float64
AMT_REQ_CREDIT_BUREAU_YEAR      float64
dtype: object

In [4]:
df_e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 121 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(16)
memory usage: 45.0+ MB

* Comment out heatmap

In [5]:
# numeric_feats = df_t.dtypes[df_t.dtypes != "object"].index
# plt.figure(figsize=(80,18))
# sns.heatmap(df_t[numeric_feats].corr(), annot=False, square=True, cmap='coolwarm')
# plt.show()

## Correlations

In [6]:
# Filter out object type columns from the DataFrame
numeric_df = df_t.select_dtypes(include=['int64', 'float64'])

# Compute correlations with the TARGET column
correlations = numeric_df.corr()['TARGET'].sort_values(ascending=False)

# Select the top 30 positive correlations
top_positive_correlations = correlations.head(30)

# Select the top 30 negative correlations
top_negative_correlations = correlations.tail(30)

# Display the results
print("Top 30 positive correlations:")
print(top_positive_correlations)
print("\nTop 30 negative correlations:")
print(top_negative_correlations)

Top 30 positive correlations:
TARGET                         1.000000
DAYS_BIRTH                     0.077165
REGION_RATING_CLIENT_W_CITY    0.061168
REGION_RATING_CLIENT           0.060045
DAYS_LAST_PHONE_CHANGE         0.053343
DAYS_ID_PUBLISH                0.052937
REG_CITY_NOT_WORK_CITY         0.051603
FLAG_DOCUMENT_3                0.045144
FLAG_EMP_PHONE                 0.044725
OWN_CAR_AGE                    0.043129
REG_CITY_NOT_LIVE_CITY         0.039695
DAYS_REGISTRATION              0.039146
LIVE_CITY_NOT_WORK_CITY        0.035313
DEF_60_CNT_SOCIAL_CIRCLE       0.034978
DEF_30_CNT_SOCIAL_CIRCLE       0.033525
FLAG_WORK_PHONE                0.026807
AMT_REQ_CREDIT_BUREAU_YEAR     0.019115
CNT_CHILDREN                   0.018864
OBS_30_CNT_SOCIAL_CIRCLE       0.011141
OBS_60_CNT_SOCIAL_CIRCLE       0.011028
CNT_FAM_MEMBERS                0.007649
NONLIVINGAPARTMENTS_MODE       0.007373
FLAG_DOCUMENT_2                0.006616
REG_REGION_NOT_WORK_REGION     0.006226
REG_REGION_NOT_LIVE_REGION     0.005654
NONLIVINGAPARTMENTS_MEDI       0.005635
AMT_REQ_CREDIT_BUREAU_HOUR     0.005562
SK_ID_CURR                     0.005188
NONLIVINGAPARTMENTS_AVG        0.005033
AMT_REQ_CREDIT_BUREAU_DAY      0.004461
Name: TARGET, dtype: float64

Top 30 negative correlations:
LIVINGAPARTMENTS_MEDI        -0.021059
LIVINGAPARTMENTS_AVG         -0.021752
BASEMENTAREA_MEDI            -0.022629
BASEMENTAREA_AVG             -0.023332
HOUR_APPR_PROCESS_START      -0.025126
FLAG_PHONE                   -0.028836
FLAG_DOCUMENT_6              -0.028983
APARTMENTS_MODE              -0.029412
AMT_CREDIT                   -0.030034
LIVINGAREA_MODE              -0.030413
APARTMENTS_MEDI              -0.031027
APARTMENTS_AVG               -0.031131
LIVINGAREA_MEDI              -0.032471
LIVINGAREA_AVG               -0.033037
TOTALAREA_MODE               -0.033882
ELEVATORS_MODE               -0.035531
FLOORSMIN_MODE               -0.036393
FLOORSMIN_MEDI               -0.036978
ELEVATORS_MEDI               -0.037215
FLOORSMIN_AVG                -0.037313
ELEVATORS_AVG                -0.037594
REGION_POPULATION_RELATIVE   -0.038446
AMT_GOODS_PRICE              -0.039283
DAYS_EMPLOYED                -0.043734
FLOORSMAX_MODE               -0.044748
FLOORSMAX_MEDI               -0.045474
FLOORSMAX_AVG                -0.045861
EXT_SOURCE_1                 -0.154590
EXT_SOURCE_2                 -0.162015
EXT_SOURCE_3                 -0.177798
Name: TARGET, dtype: float64

In [7]:
df_t.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002.0,1.0,Cash loans,M,N,Y,0.0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003.0,0.0,Cash loans,F,N,N,0.0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004.0,0.0,Revolving loans,M,Y,Y,0.0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006.0,0.0,Cash loans,F,N,Y,0.0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007.0,0.0,Cash loans,M,N,Y,0.0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Combine Train and Test

In [8]:
# Add a new column to indicate the source dataset
df_t['is_test'] = 0  # For train data, set to 0
df_e['is_test'] = 1   # For test data, set to 1

# Concatenate the train and test datasets
df_combined = pd.concat([df_t, df_e], ignore_index=True)

In [9]:
# # Read the data into a DataFrame
# # Categorize variables with fewer than 10 unique values and not already integers
# for col in df_combined.columns:
#     if df_combined[col].dtype != 'float64' and df_combined[col].nunique() < 10:
#         df_combined[col] = df_combined[col].astype('category')

## Display numeric NA's

In [10]:
all_Xdata_na = (df_combined.isnull().sum() / len(df_combined)) * 100
all_Xdata_na = all_Xdata_na.drop(all_Xdata_na[all_Xdata_na == 0].index).sort_values(ascending=False)[:300]
missing_data = pd.DataFrame({'Missing Data Percent' :all_Xdata_na})

In [11]:
pd.set_option('display.max_rows', None)
missing_data

                              Missing Data Percent
COMMONAREA_AVG                           85.884830
COMMONAREA_MODE                          85.884830
COMMONAREA_MEDI                          85.884830
NONLIVINGAPARTMENTS_AVG                  85.695078
NONLIVINGAPARTMENTS_MODE                 85.695078
NONLIVINGAPARTMENTS_MEDI                 85.695078
LIVINGAPARTMENTS_AVG                     85.199927
LIVINGAPARTMENTS_MODE                    85.199927
LIVINGAPARTMENTS_MEDI                    85.199927
FONDKAPREMONT_MODE                       85.189541
FLOORSMIN_MEDI                           84.930176
FLOORSMIN_AVG                            84.930176
FLOORSMIN_MODE                           84.930176
OWN_CAR_AGE                              84.340150
YEARS_BUILD_AVG                          84.308992
YEARS_BUILD_MEDI                         84.308992
YEARS_BUILD_MODE                         84.308992
LANDAREA_MEDI                            81.011074
LANDAREA_MODE                            81.011074
LANDAREA_AVG                             81.011074
BASEMENTAREA_AVG                         80.556062
BASEMENTAREA_MODE                        80.556062
BASEMENTAREA_MEDI                        80.556062
NONLIVINGAREA_MODE                       79.044785
NONLIVINGAREA_MEDI                       79.044785
NONLIVINGAREA_AVG                        79.044785
ELEVATORS_AVG                            78.197078
ELEVATORS_MODE                           78.197078
ELEVATORS_MEDI                           78.197078
EXT_SOURCE_1                             77.856030
WALLSMATERIAL_MODE                       77.015340
APARTMENTS_MODE                          76.988674
APARTMENTS_AVG                           76.988674
APARTMENTS_MEDI                          76.988674
ENTRANCES_MODE                           76.768887
ENTRANCES_AVG                            76.768887
ENTRANCES_MEDI                           76.768887
HOUSETYPE_MODE                           76.728748
LIVINGAREA_AVG                           76.720327
LIVINGAREA_MODE                          76.720327
LIVINGAREA_MEDI                          76.720327
FLOORSMAX_MODE                           76.505874
FLOORSMAX_MEDI                           76.505874
FLOORSMAX_AVG                            76.505874
YEARS_BEGINEXPLUATATION_MODE             76.055354
YEARS_BEGINEXPLUATATION_MEDI             76.055354
YEARS_BEGINEXPLUATATION_AVG              76.055354
TOTALAREA_MODE                           75.833041
EMERGENCYSTATE_MODE                      75.428836
OCCUPATION_TYPE                          68.317638
TARGET                                   67.407896
EXT_SOURCE_3                             62.622840
AMT_REQ_CREDIT_BUREAU_WEEK               59.803512
AMT_REQ_CREDIT_BUREAU_DAY                59.803512
AMT_REQ_CREDIT_BUREAU_MON                59.803512
AMT_REQ_CREDIT_BUREAU_QRT                59.803512
AMT_REQ_CREDIT_BUREAU_HOUR               59.803512
AMT_REQ_CREDIT_BUREAU_YEAR               59.803512
NAME_TYPE_SUITE                          54.115451
DEF_30_CNT_SOCIAL_CIRCLE                 53.842613
OBS_60_CNT_SOCIAL_CIRCLE                 53.842613
OBS_30_CNT_SOCIAL_CIRCLE                 53.842613
DEF_60_CNT_SOCIAL_CIRCLE                 53.842613
EXT_SOURCE_2                             53.798262
AMT_GOODS_PRICE                          53.751667
AMT_ANNUITY                              53.734263
DAYS_LAST_PHONE_CHANGE                   53.725842
CNT_FAM_MEMBERS                          53.725842
CNT_CHILDREN                             53.725562
FLAG_DOCUMENT_8                          53.725562
NAME_CONTRACT_TYPE                       53.725562
CODE_GENDER                              53.725562
FLAG_OWN_CAR                             53.725562
FLAG_DOCUMENT_2                          53.725562
FLAG_DOCUMENT_3                          53.725562
FLAG_DOCUMENT_4                          53.725562
FLAG_DOCUMENT_5                          53.725562
FLAG_DOCUMENT_6                          53.725562
FLAG_DOCUMENT_7                          53.725562
FLAG_DOCUMENT_9                          53.725562
FLAG_DOCUMENT_21                         53.725562
FLAG_DOCUMENT_10                         53.725562
FLAG_DOCUMENT_11                         53.725562
FLAG_OWN_REALTY                          53.725562
FLAG_DOCUMENT_13                         53.725562
FLAG_DOCUMENT_14                         53.725562
FLAG_DOCUMENT_15                         53.725562
FLAG_DOCUMENT_16                         53.725562
FLAG_DOCUMENT_17                         53.725562
FLAG_DOCUMENT_18                         53.725562
FLAG_DOCUMENT_19                         53.725562
FLAG_DOCUMENT_20                         53.725562
FLAG_DOCUMENT_12                         53.725562
AMT_INCOME_TOTAL                         53.725562
ORGANIZATION_TYPE                        53.725562
AMT_CREDIT                               53.725562
LIVE_CITY_NOT_WORK_CITY                  53.725562
REG_CITY_NOT_WORK_CITY                   53.725562
REG_CITY_NOT_LIVE_CITY                   53.725562
LIVE_REGION_NOT_WORK_REGION              53.725562
REG_REGION_NOT_WORK_REGION               53.725562
REG_REGION_NOT_LIVE_REGION               53.725562
HOUR_APPR_PROCESS_START                  53.725562
WEEKDAY_APPR_PROCESS_START               53.725562
REGION_RATING_CLIENT_W_CITY              53.725562
REGION_RATING_CLIENT                     53.725562
FLAG_EMAIL                               53.725562
FLAG_PHONE                               53.725562
FLAG_CONT_MOBILE                         53.725562
FLAG_WORK_PHONE                          53.725562
FLAG_EMP_PHONE                           53.725562
FLAG_MOBIL                               53.725562
DAYS_ID_PUBLISH                          53.725562
DAYS_REGISTRATION                        53.725562
DAYS_EMPLOYED                            53.725562
DAYS_BIRTH                               53.725562
REGION_POPULATION_RELATIVE               53.725562
NAME_HOUSING_TYPE                        53.725562
NAME_FAMILY_STATUS                       53.725562
NAME_EDUCATION_TYPE                      53.725562
NAME_INCOME_TYPE                         53.725562
SK_ID_CURR                               53.725562

## Missing Numeric data to convert to median

In [12]:
for col in df_combined.columns:
    # Check if the column is of float64 data type and has missing or NA values
    if df_combined[col].dtype == 'float64' and df_combined[col].isnull().any():
        # Calculate the median of the column
        median_value = df_combined[col].median()
        # Fill missing values with the median
        df_combined[col].fillna(median_value, inplace=True)

## What missing data remains?

In [13]:
columns_with_missing_data = df_combined.columns[df_combined.isnull().any()].tolist()

# Display the columns with missing data
print(columns_with_missing_data)

['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

## Object missing data

In [14]:
df_na_columns = df_combined[columns_with_missing_data]

# Show the head of the DataFrame
df_na_columns.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN

In [15]:
pd.set_option('display.max_rows', None)
missing_percentages = (df_na_columns.isna().sum() / len(df_na_columns)) * 100
print(missing_percentages)

NAME_CONTRACT_TYPE            53.725562
CODE_GENDER                   53.725562
FLAG_OWN_CAR                  53.725562
FLAG_OWN_REALTY               53.725562
NAME_TYPE_SUITE               54.115451
NAME_INCOME_TYPE              53.725562
NAME_EDUCATION_TYPE           53.725562
NAME_FAMILY_STATUS            53.725562
NAME_HOUSING_TYPE             53.725562
OCCUPATION_TYPE               68.317638
WEEKDAY_APPR_PROCESS_START    53.725562
ORGANIZATION_TYPE             53.725562
FONDKAPREMONT_MODE            85.189541
HOUSETYPE_MODE                76.728748
WALLSMATERIAL_MODE            77.015340
EMERGENCYSTATE_MODE           75.428836
dtype: float64

In [16]:
for col in df_combined.columns:
    # Check if the column is of object data type and has missing or NA values
    if df_combined[col].dtype == 'object' and df_combined[col].isnull().any():
        # Calculate the mode of the column
        mode_values = df_combined[col].mode().iloc[0]
        # Fill missing values with the mode
        df_combined[col].fillna(mode_values, inplace=True)

## Categorical Data to be converted next. Take a look at any float or object data with less than 10 nunique values and convert to category
* Except target
* Gender -> Category
* Name Contract type -> Category